body.loginPage{
    background-image: url("/asset/img/flowers-bg.jpg");
    
}

thead {
    background-color: pink;
}


td {
    font-size: 12px;
}

td.text-top {
    vertical-align: text-top;
}

.input-group-append {
    cursor: pointer;
  }

stu {
    color: red;
}

/* select2 container */
.select2-container{
    display: block !important;
    z-index: 1111 !important;
}